#middle{
    padding: 20px 0px 40px 20px;
    position: sticky;
    

}
#share{
    margin-left: 440px;
    margin-bottom: 0px;
    font-size: small;

    
    
}
#location{
    margin-left: 00px;
    margin-bottom: 0px;
    

}

