#navbar-alighn{
    display: flex;
    width:100vw
    /* justify-content: center; */
    /* background-color: red; */
}
.navbar{
    background-color: rgb(202, 20, 20);
}
#align{
    /* padding-left: 20rem;
    margin-left: 20rem; */
   /* display: flex; */
   /* flex-direction: row-reverse; */
   text-align: center;
}
#profile{
    margin-left: 20rem;
    
}
#nav{
    position: static;
    display: flex;
}
