
    

#comment{
    padding-left: 15px 150px 35px 50px;
   
  
}
.like{
    padding: 3px 160px 35px 50px ;
}
.share{
    padding: 2px 200px 30px 190px;
}

#main2{
    width: 580px;
    height: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
   
   
   

}



