/* .container-fluid{
    text-align: center;
    text-size-adjust: bold;
}  */
/* .email{
    text-align: center;
    margin-top: 10%;
    box-sizing: 30%;
    

} */
/* #floatingInput{
    margin-top: 7%;
    margin-left: 30%;
} */
/* #floatingPassword{
    margin-top: 2%;
    margin-left: 30%;

} */
/* .facebook{
    color: blue;
    size: 20%;
    margin-left: 600%;
    
} */
/* #button{
    color:white;
    background-color: rgb(24, 24, 212);
    border: 1px rgb(23, 23, 167);
    border-radius: 4px;
    margin-left: 30%;
    margin-top: 2%;
    
} */
/* #loginaccount{
    color: white;
    border: 2px blue;
    background-color:  green;
    border-radius: 4px;
    margin-left: 30%;
    margin-top: 30px;
   
} */
/* #forgot{
    margin-top: 80%;
    margin-left: 29%;
} */
/* .facebook{
    color: blue;
    padding-top: 200px;
} */
/* #email{
    padding-top: 100px;
    height: 200px;
    width: 200px;
    
} */
/* #login{
    padding-top: 60px;
} */
#facebook{
    color: blue;
}