
   
/* #floatingInput{
    margin-left: 00%;
    border-radius: 20%;
}
.tot{
    margin-left: 20%;
}
.mail{
    margin-left: 20%;
}
#button{
    color:white;
    background-color: rgb(24, 24, 212);
    border: 1px rgb(23, 23, 167);
    border-radius: 10px;
    margin-left: 30%;
    margin-top: 2%;
}
#facebook{
    color: blue;
    display: flex;
    
} */